[submodule "vendor/eventbrite-shiflett"]
	path = vendor/eventbrite-shiflett
	url = https://github.com/shiflett/eventbrite.git
[submodule "vendor/gravatar-crepezzi"]
	path = vendor/gravatar-crepezzi
	url = https://github.com/seejohnrun/gravatar_helper.git
